.navegation {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  background-color: #5d5d5d;
}

@media (max-width: 744px) {
  .navegation {
      height: 72px;
  }
}